<div class="w-4/5 mx-auto space-y-24 py-10">
    <div class="flex h-screen items-start">
        <div class="w-1/2">
            <img src="https://i.pinimg.com/originals/d1/54/66/d154660a6ae3104de2b0a314667a5ab6.png" alt="Mobile GIF" class="w-full h-full object-cover">
        </div>

            <button></button>
        <div class="w-1/2 flex flex-col justify-center items-center p-8">
            <h1 class="text-center font-serif font-bold text-4xl mb-8 inline-flex items-center"><mat-icon>lock</mat-icon><span class="ml-2">OTP Verification</span></h1>
         
        </div>
    </div>
</div>

