<nav class="p-4 bg-gray-300 flex items-center">
  

    <span class="text-5xl text-red-500 font-bold font-serif">FindTech</span><mat-icon class="bg-white mr-2">signal_cellular_alt</mat-icon>
        
    <div class="flex flex-grow justify-center pl-1">    
      <button routerLink="" class="text-white ml-3 bg-black-500 border hover:bg-red-500 hover:scale-105 transform transition duration-700 ease-in-out" mat-button><mat-icon class="text-white ">home</mat-icon>Home</button>
      
  <button  routerLink="/services" class="text-white ml-3  bg-black-500 border hover:bg-red-500 hover:scale-105 transform transition duration-700 ease-in-out" mat-button><mat-icon class="text-white">build</mat-icon>Services</button>
  <button routerLink="/about" class="text-white ml-3 bg-black-500 border hover:bg-red-500 hover:scale-105 transform transition duration-800 ease-in-out" mat-button><mat-icon class="text-white">face</mat-icon>About Us
  </button>
    </div>
  
    <div class="flex items-center pl-2">
      <button routerLink="/login" class="text-black mr-4 bg-white hover:bg-gray-300 hover:scale-105 transform transition duration-700 ease-in-out" mat-raised-button>
        <mat-icon>lock</mat-icon>Login
      </button>
      
      <button routerLink="/signup" class="text-black hover:bg-gray-300 hover:scale-105 transform transition duration-700 ease-in-out" mat-raised-button>
        <mat-icon>how_to_reg</mat-icon>Sign UP
      </button>
    </div>
  </nav>
  
  <div class="P-2 m-1 shadow-4xl">
  
</div>
<router-outlet></router-outlet>
  

