<!-- First Container -->
<div class="flex flex-col justify-center items-center bg-gray-800  space-y-4">
    <div>
        <h1><span class="font-serif text-red-100 text-5xl bg-origin-border tracking-wide">Now</span></h1>
    </div>
    <div>
        <h1 class="text-white m-3">Find <span class="font-serif bg-red-800 text-8xl bg-origin-border tracking-wide">TECHNICIANS</span></h1>
    </div>
    <div>
        <br>
        <div>
            <mat-icon class="text-white">search</mat-icon>
        </div>
        <div>
            <h1><span class="font-serif bg-red-800 text-8xl">Online</span></h1>
        </div>
    </div>
</div>

<!-- Second Container -->
 <div class="w-4/5 mx-auto space-y-24 py-10 ">


<div class="flex  ">
    <div class="w-50 ">
        <img src="https://media1.tenor.com/m/e14GHwc3ZsgAAAAd/iphone-repair.gif" alt="Mobile GIF" class="w-full h-70">
    </div>
    <div class="w-1/2 bg-white-200 flex flex-col justify-center items-center mx-auto h-70 p-4" >
        <h1 class="text-center mb-4 font-serif font-bold text-4xl mb-4"> MOBILE TECHNICIANS</h1>
        <p class="text-center text-lg">
            Lorem Ipsum is simply dummy text of the printing <br>
            and typesetting industry. Lorem Ipsum has been the <br>industry's standard dummy text ever since the 1500s, when 
            but also the leap into electronic typesetting, remaining essentially unchanged. <br> It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <button class="w-1/3 bg-blue-500 text-white text-4xl hover:bg-blue-700 hover:scale-105 transform transition duration-700 ease-in-out py-2  rounded-lg">
            Discover
        </button>   
     </div>
     <div class="card flex justify-content-center">
        <p-button  />
    </div>
</div>




<div class="flex  ">

    <div class="w-1/2 bg-white-200 flex flex-col justify-center items-center mx-auto h-70 p-4" >
        <h1 class="text-center mb-4 font-serif font-bold text-4xl mb-4">COMPUTER TECHNICIANS</h1>
        <p class="text-center text-lg">
            Lorem Ipsum is simply dummy text of the printing <br>
            and typesetting industry. Lorem Ipsum has been the <br>industry's standard dummy text ever since the 1500s, when 
            but also the leap into electronic typesetting, remaining essentially unchanged. <br> It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <button class="w-1/3 bg-blue-500 text-white text-4xl hover:bg-blue-700 hover:scale-105 transform transition duration-700 ease-in-out py-2  rounded-lg"><mat-icon >supervisor_account</mat-icon>
            Discover
        </button>  
    
    </div>
    <div class="w-50 flex justify-center items-center shadow-lg p-4 bg-white">
        <img src="https://www.insureon.com/-/media/blog/posts/2019/photo_woman-fixing-computer.jpg?h=375&iar=0&w=750&rev=23f11902252843bcbb9b509ef57e942c" alt="computer image" class="w-full h-70 object-cover rounded-full">
    </div>
</div>

<div class="flex  ">
    <div class="w-50 justify-center">
        <img src="https://media1.tenor.com/m/9EgLdInsOgMAAAAC/hvac-companies-in-fort-myers-fort-myers-fl-air-conditioning-companies.gif" alt="Mobile GIF" class="w-full p-4">
    </div>
    <div class="w-1/2 bg-white-200 flex flex-col justify-center items-center mx-auto h-70 p-4" >
        <h1 class="text-center mb-4 font-serif font-bold text-4xl mb-4"> AC TECHNICIANS</h1>
        <p class="text-center text-lg">
            Lorem Ipsum is simply dummy text of the printing <br>
            and typesetting industry. Lorem Ipsum has been the <br>industry's standard dummy text ever since the 1500s, when 
            but also the leap into electronic typesetting, remaining essentially unchanged. <br> It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <button class="w-1/3 bg-blue-500 text-white text-4xl hover:bg-blue-700 hover:scale-105 transform transition duration-700 ease-in-out py-2  rounded-lg"><mat-icon >supervisor_account</mat-icon>
            Discover
        </button> 
         </div>
</div>
</div>
  




