<div class="w-4/5 mx-auto space-y-24 py-10">
    <div class="flex h-screen items-start">
        <div class="w-1/2">
            <img src="https://i.pinimg.com/originals/d1/54/66/d154660a6ae3104de2b0a314667a5ab6.png" alt="Mobile GIF" class="w-full h-full object-cover">
        </div>
        <div class="w-1/2 flex flex-col justify-center items-center p-8">
            <h1 class="text-center font-serif font-bold text-4xl mb-8 inline-flex items-center"><mat-icon>lock</mat-icon><span class="ml-2">User Login</span></h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full max-w-2xl bg-white p-10 rounded-lg shadow-md">
                <div class="mb-6">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2 inline-flex items-center"><mat-icon>face</mat-icon><span class="ml-2">Email</span></label>
                    <input type="email" id="email" formControlName="email" class="shadow appearance-none border rounded w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email">
                    <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-red-500 text-xs italic">Email is required.</div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-red-500 text-xs italic">Invalid email address.</div>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2 inline-flex items-center"><mat-icon>vpn_key</mat-icon><span class="ml-2">Password</span></label>
                    <input type="password" id="password" formControlName="password" class="shadow appearance-none border rounded w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Password">
                    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-500 text-xs italic">Password is required.</div>
                        <div *ngIf="loginForm.get('password')?.errors?.['pattern']" class="text-red-500 text-xs italic">Password must contain at least one uppercase letter, one number, and no spaces.</div>
                    </div>
                </div>
                <button type="submit" class="mt-8 w-1/3 bg-blue-500 text-white text-lg hover:bg-blue-700 hover:scale-105 transform transition duration-700 ease-in-out py-3 rounded-lg inline-flex items-center justify-center">
                    <mat-icon>arrow_forward</mat-icon><span class="ml-2">Submit</span>
                </button>
                <div class="flex flex-col justify-center items-center mt-4 space-y-2">
                    <a href="#" class="text-blue-500">Forgot Password?</a>
                    <a href="/signup" class="text-blue-500">Create a New Account?</a>
                    <a href="/technician" class="text-blue-800">Are you a Technician?</a>
                </div>
            </form>
        </div>
    </div>
</div>
